<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>John D.</h2>
  </header>
  <ul>
    <li><span>
          <%= link_to categories_path do %>
      <%= "Categories" %>
      <% end %>
    </span></li>
    <li><span>
      <%= link_to polls_user_path do %>
      <%= "Dashboard" %>
      <% end %>
    </span></li>
    <li><span>
      <%= link_to new_user_session_path do %>
      <%= "Sign in" %>
      <% end %>
    </span></li>
    <li><span>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%="Log out"%>
      <% end %>
    </span></li>
  </ul>
</nav>


