<div class="container-fluid">
  <div class="row">
    <% @polls.each do |poll| %>
    <%= link_to poll_path(poll) do %>
    <div class="col-sm-6 col-md-3 ">
      <div class="cardc1">
        <div class="clip-left">
          <div class="left-wrapper">
            <%= cl_image_tag poll.responses[0].picture.path%>
            <div class="left-content">
              <h1><%= poll.responses[0].label %></h1>
            </div>
          </div>
        </div>
        <div class="clip-right">
          <div class="right-wrapper">
            <%= cl_image_tag poll.responses[1].picture.path %>
            <div class="right-content">
              <h1><%= poll.responses[1].label %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<svg class="clip-svg" width="0" height="0">
  <defs>
    <clipPath id="clip-left-path" clipPathUnits="objectBoundingBox">
      <polygon points="0 0, 0.6 0, 0.4 1, 0 1">
    </clipPath>
    <clipPath id="clip-right-path" clipPathUnits="objectBoundingBox">
      <polygon points="0.6 0, 1 0, 1 1, 0.4 1">
    </clipPath>
  </defs>
</svg>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #3A3A3A; border-radius: 2px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="modaltitle" class="modal-title text-center" style="color: white">Welcome!</h3>
      </div>
      <div class="modal-body text-center" style="color: white">
        <p>We are pleased to introduce you P'All Battle !</p>
        <p>Discover popularity of musicians, movies, brands, cars, places and many more around the world.
        <p>Select your battle, support and vote for the best opponent !
        You can browse categories of your choice by clicking on the spinner located on the header.
        </p>
        <p>You can create and submit your poll to the community with two opponents of your choice and   check     results.
        </p>
        <h3>Have fun !</h3>
      </div>
    </div>
  </div>
</div>