<div class="header-title" style= "margin-top: 60px; margin-bottom: 30px; text-align: center;">
  <h1>Fill up the form and submit</h1>
</div>
<div class="container">
  <%= simple_form_for(@poll) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :title  %>
    <%= f.input :category_id, collection: @categories  %>
  </div>
      <%= f.simple_fields_for :response_1 do |response| %>
        <%= response.input :label %>
        <%= response.file_field(:picture)%>
      <% end %>
      <%= f.simple_fields_for :response_2 do |response| %>
        <%= response.input :label %>
        <%= response.file_field(:picture) %>
      <% end %>
    <%= f.submit %>
  <% end %>
</div>
