  <div class="card-poll">
    <div class="col-xs-12">
      <p>Created by <%= @poll.user.username %> <%= @poll.title %></p>
    </div>
  </div>
  <div class="battle-box">
    <div class="backgrounds">
      <div class="left">
        <div class="background">
          <%= cl_image_tag @first_response.picture.path, width: 630, height: 600, crop: :fill %>
        </div>
      </div>
      <div class="right">
        <div class="background">
          <%= cl_image_tag @second_response.picture.path, width: 630, height: 600, crop: :fill %>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="responseA">
        <%= simple_form_for([@first_response, @vote]) do |f| %>
        <%= f.submit @first_response.label, class: "btn btn-large btn-primary" %>
        <% end %>
        <p style="color: blue;">Votes : <%= @first_response_count %><p>
        </div>
        <div class="responseB">
          <%= simple_form_for([@second_response, @vote]) do |f| %>
          <%= f.submit @second_response.label, class: "btn  btn-large btn-primary" %>
          <% end %>
          <p style="color: blue;">Votes : <%= @second_response_count %></p>
        </div>
      </div>
    </div>

