<div class="header-title text-center">
  <h1><%= @category.name %></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <% @category_polls.each do |poll| %>
    <%= link_to poll_path(poll) do %>
    <div class="col-sm-6 col-md-3 ">
      <div class="cardc1">
        <div class="clip-left">
          <div class="left-wrapper">
            <%= cl_image_tag poll.responses[0].picture.path%>
            <div class="left-content">
              <h1><%= poll.responses[0].label %></h1>
            </div>
          </div>
        </div>
        <div class="clip-right">
          <div class="right-wrapper">
            <%= cl_image_tag poll.responses[1].picture.path %>
            <div class="right-content">
              <h1><%= poll.responses[1].label %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<svg class="clip-svg" width="0" height="0">
  <defs>
    <clipPath id="clip-left-path" clipPathUnits="objectBoundingBox">
      <polygon points="0 0, 0.6 0, 0.4 1, 0 1">
    </clipPath>
    <clipPath id="clip-right-path" clipPathUnits="objectBoundingBox">
      <polygon points="0.6 0, 1 0, 1 1, 0.4 1">
    </clipPath>
  </defs>
</svg>

