<div class="head" style="height: 100%">
  <h2>
  <% if user_signed_in? %>
    <% if review.user.facebook_picture_url? %>
      <%= cl_image_tag review.user.facebook_picture_url %>
    <% elsif review.user.picture? %>
      <%= cl_image_tag review.user.picture.path %>
    <% else %>
      <%= image_tag "http://placehold.it/30x30" %>
    <% end %>
  <% else %>
    <%= image_tag "http://placehold.it/30x30" %>
  <% end %>
  </h2>
  <p><%= review.user.username %></p>
  <h4><%= review.content %> </br> <p> Posted : at <%= review.created_at.strftime("%I:%M %p on %B %d") %></em></p></h4>
</div>
