<!DOCTYPE html>
<html>
  <head>
    <title>P'All Battle</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body style= "background-image: url(http://res.cloudinary.com/dibgaxttc/image/upload/v1488379929/black_xdijif.jpg); height: 100vh; background-size: cover"> >
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body
</html>
